html, body {
    height: 100%;
    width: 100%;
    background-image: url(https://wallpapercave.com/wp/wp2188942.jpg);
}
.jumbotron {
    width:100%;
    text-align: center;
    color: #006cb0;
    background-color: #da312a;
    font-family: 'Bree Serif', serif;
}
.table {
    color: black;
    font-size: 24px; 
}
.tableHeaders {
    background-color: #da312a;
}
.dataInput {
    background-color: rgba(255,255,255, 0.5);
    
}
.secondaryHeader {
    color: white;
    background-color: #006CB0;
}
.sectionBox {
    border: solid 2px #da312a;
}
.allUserInputs {
    size: 100%;
}